<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ykk.common.mapper.DictItemMapper" >
  <resultMap id="BaseResultMap" type="ykk.common.domain.DictItem" >
    <id column="ITEM_ID" property="itemId" jdbcType="DECIMAL" />
    <result column="DICT_ID" property="dictId" jdbcType="DECIMAL" />
    <result column="ITEM_CODE" property="itemCode" jdbcType="VARCHAR" />
    <result column="ITEM_NAME" property="itemName" jdbcType="VARCHAR" />
    <result column="SN_NO" property="snNo" jdbcType="DECIMAL" />
    <result column="LANGUAGE" property="language" jdbcType="VARCHAR" />
    <result column="SEQ" property="seq" jdbcType="DECIMAL" />
    <result column="SHOW_FLAG" property="showFlag" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="DATE" />
    <result column="CREATE_USER" property="createUser" jdbcType="DECIMAL" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="DATE" />
    <result column="UPDATE_USER" property="updateUser" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ITEM_ID, DICT_ID, ITEM_CODE, ITEM_NAME, SN_NO, LANGUAGE, SEQ, SHOW_FLAG, REMARK, 
    CREATE_TIME, CREATE_USER, UPDATE_TIME, UPDATE_USER
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from UPIOW.TBL_DICT_ITEM
    where ITEM_ID = #{itemId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from UPIOW.TBL_DICT_ITEM
    where ITEM_ID = #{itemId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="ykk.common.domain.DictItem"  >
    insert into UPIOW.TBL_DICT_ITEM (ITEM_ID, DICT_ID, ITEM_CODE, 
      ITEM_NAME, SN_NO, LANGUAGE, 
      SEQ, SHOW_FLAG, REMARK, 
      CREATE_TIME, CREATE_USER, UPDATE_TIME, 
      UPDATE_USER)
    values (#{itemId,jdbcType=DECIMAL}, #{dictId,jdbcType=DECIMAL}, #{itemCode,jdbcType=VARCHAR}, 
      #{itemName,jdbcType=VARCHAR}, #{snNo,jdbcType=DECIMAL}, #{language,jdbcType=VARCHAR}, 
      #{seq,jdbcType=DECIMAL}, #{showFlag,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=DATE}, #{createUser,jdbcType=DECIMAL}, #{updateTime,jdbcType=DATE}, 
      #{updateUser,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="ykk.common.domain.DictItem" >
    insert into UPIOW.TBL_DICT_ITEM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        ITEM_ID,
      </if>
      <if test="dictId != null" >
        DICT_ID,
      </if>
      <if test="itemCode != null" >
        ITEM_CODE,
      </if>
      <if test="itemName != null" >
        ITEM_NAME,
      </if>
      <if test="snNo != null" >
        SN_NO,
      </if>
      <if test="language != null" >
        LANGUAGE,
      </if>
      <if test="seq != null" >
        SEQ,
      </if>
      <if test="showFlag != null" >
        SHOW_FLAG,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUser != null" >
        CREATE_USER,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateUser != null" >
        UPDATE_USER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        #{itemId,jdbcType=DECIMAL},
      </if>
      <if test="dictId != null" >
        #{dictId,jdbcType=DECIMAL},
      </if>
      <if test="itemCode != null" >
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="snNo != null" >
        #{snNo,jdbcType=DECIMAL},
      </if>
      <if test="language != null" >
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        #{seq,jdbcType=DECIMAL},
      </if>
      <if test="showFlag != null" >
        #{showFlag,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ykk.common.domain.DictItem" >
    update UPIOW.TBL_DICT_ITEM
    <set >
      <if test="dictId != null" >
        DICT_ID = #{dictId,jdbcType=DECIMAL},
      </if>
      <if test="itemCode != null" >
        ITEM_CODE = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null" >
        ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="snNo != null" >
        SN_NO = #{snNo,jdbcType=DECIMAL},
      </if>
      <if test="language != null" >
        LANGUAGE = #{language,jdbcType=VARCHAR},
      </if>
      <if test="seq != null" >
        SEQ = #{seq,jdbcType=DECIMAL},
      </if>
      <if test="showFlag != null" >
        SHOW_FLAG = #{showFlag,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=DATE},
      </if>
      <if test="createUser != null" >
        CREATE_USER = #{createUser,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=DATE},
      </if>
      <if test="updateUser != null" >
        UPDATE_USER = #{updateUser,jdbcType=DECIMAL},
      </if>
    </set>
    where ITEM_ID = #{itemId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="ykk.common.domain.DictItem" >
    update UPIOW.TBL_DICT_ITEM
    set DICT_ID = #{dictId,jdbcType=DECIMAL},
      ITEM_CODE = #{itemCode,jdbcType=VARCHAR},
      ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      SN_NO = #{snNo,jdbcType=DECIMAL},
      LANGUAGE = #{language,jdbcType=VARCHAR},
      SEQ = #{seq,jdbcType=DECIMAL},
      SHOW_FLAG = #{showFlag,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=DATE},
      CREATE_USER = #{createUser,jdbcType=DECIMAL},
      UPDATE_TIME = #{updateTime,jdbcType=DATE},
      UPDATE_USER = #{updateUser,jdbcType=DECIMAL}
    where ITEM_ID = #{itemId,jdbcType=DECIMAL}
  </update>
</mapper>